@page "/account"
@inject HttpClient Http
@inject Tiberna.MyFinancePal.Web.Services.IAssetsService assetsService;

<PageTitle>Accounts</PageTitle>

<h1>Accounts</h1>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actual Balance</th>
                <th>BankAccountId</th>
                <th>Is Active?</th>
                <th>Initial Balance</th>
                <th>Initial Balance Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.Name</td>
                    <td>@account.Description</td>
                    <td>@account.ActualBalance</td>
                    <td>@account.BankAccountId</td>
                    <td>@account.IsActive</td>
                    <td>@account.InitialBalance</td>
                    <td>@account.InitialBalanceDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AccountDTO>? accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = await assetsService.GetAllAccountsAsync();
    }
}
